.fondo {
    width: 500px;
    height: 500px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,1a3160+100 */
    background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#1a3160 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}