.box {
    width: 200px;
    height: 200px;
    background-color: #21295c;
    transition: all .5s ease;
    /* transition-delay: 2s; */
}

.box:hover {
    background-color: #9eb3c2;
    width: 400px;
    transform: rotate(180deg);
}