@keyframes colors {
    /* from{background: #9eb3c2;}
    to{background: #000;} */
    0%{background: #9eb3c2;}
    25%{background: #1c7293; width: 300px;}
    50%{background: #065a82; width: 400px;}
    75%{background: #1c7293; width: 300px;}
    100%{background: #9eb3c2; width: 200px;}
}

@keyframes movements {
    0%{transform: translate(0px);}
    50%{transform: translate(500px);}
    100%{transform: translate(0px);}
}

.box {
    width: 200px;
    height: 200px;
    background: #9eb3c2;
    animation-name: colors;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

